{% extends 'base.html' %}
{% block style %}
.container p{
color: #fff;
font-size: large;
}
{% endblock style %}
{% block body %}
<div class="container text-center mt-5 pb-5">
    <h1>About Our Restaurent</h1>
    <p class="ms-5 me-5 mt-5">
        There is no love sincerer than the love of good food.
    </p>
    <p class="ms-5 me-5">
        The Socialite with an array of artistically crafted food and charming
        ambience arrives at one of the most prestigious culinary scenes in San
        Francisco’s South Bay to create beautiful, lasting memories.
    </p>
    <p class="ms-5 me-5 mt-5">
        We strive to achieve a delicate balance of traditional flavors with a
        modern approach to come up to everyone’s palette and unique tastes.
        Whether it’s business meetings, first dates to fall in love over
        dinner, or friends catching up – we assure warm, delightful service
        every time.
    </p>
    <p class="we mt-5">We are----</p>
    <h1>Exquisite & Authentic</h1>
    <p class="white mt-5">
        The foundation of this dining has seen various
        transitions and trends over the time. The one thing that has
        stayed constant is that food is still our common ground, a
        universal experience that really has the power to bring everyone
        together at a table.
    </p>
    <p class="white mt-5 pb-5">
        We present culinary experience that captures the essence of
        local flavors, wholesome ingredients, fresh produce and choicest
        of the wines. Our kitchen features a live fire where grilled
        meats, seafood and vegetarian delights are brought to finish
        from scratch. Paired with our finest of the wine collection, it
        makes for an indulgent dining experience perfect for any
        occasion.
    </p>
</div>
{% endblock body %}